@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/grid';

.section {
	margin-top: layout.$spacing-08;
	width: 100%;

	legend {
		font-weight: 700;
		font-size: 14px;
	}
}

.notification {
	margin-bottom: layout.$spacing-06;
	max-width: none;
	min-width: 250px !important;
}

.errorNotification {
	@extend .notification;
	margin-top: layout.$spacing-06;
}

.form {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: layout.$spacing-06;

	@include grid.breakpoint-down('md') {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}
}

.dragAndDrop {
	@include grid.breakpoint-down('md') {
		display: grid;
		place-items: center;
	}
}

.submitBtn {
	margin-top: layout.$spacing-06;
	width: 100%;

	@include grid.breakpoint-down('md') {
		margin: 0 auto;
	}
}
