@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/grid';

.section {
	margin-top: layout.$spacing-08;
	min-width: 100%;

	legend {
		font-size: 20px;
		font-weight: 700;
		margin-bottom: layout.$spacing-06;
	}
}

.notification {
	margin-bottom: layout.$spacing-06;
	max-width: none;
	min-width: 250px !important;
}

.categoryInput {
	margin-bottom: layout.$spacing-05;
}

.categories {
	display: flex;
	gap: layout.$spacing-04;
	flex-wrap: wrap;
	margin-bottom: layout.$spacing-05;
	font-size: 12px;
}

.category {
	display: flex;
	width: fit-content;
	align-items: center;
	column-gap: layout.$spacing-02;
	padding: layout.$spacing-02 layout.$spacing-04;
	background-color: colors.$blue-70;
	border: 1px solid colors.$blue-30;
	color: colors.$blue-30;
	border-radius: layout.$spacing-06;
	font-weight: 600;

	svg {
		cursor: pointer;
	}
}

.categoryTitle {
	@extend .category;
	background-color: colors.$blue-60;
	border: none;
	color: colors.$white;
}

.submitBtn {
	width: 100%;
}
