@use '@carbon/react' with (
	$css--default-type: true,
	$css--reset: true
);
@use '@carbon/grid';
@use '@carbon/layout';
@use '@carbon/colors';
@use '@carbon/themes';
@use '@carbon/type';

@use '../components/ThemePreference/ThemePreference.module.scss';

@include grid.flex-grid();

body {
	width: 100%;
}

main {
	margin-top: layout.$spacing-09;
	width: 100%;
}
