@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/grid';

.tables {
	margin-top: layout.$spacing-06;

	h3 {
		margin-top: layout.$spacing-08;
		display: flex;
		align-items: center;
		gap: layout.$spacing-04;

		@include grid.breakpoint-down('md') {
			font-size: 20px;
		}
	}
}

.cleanOutputsTag {
	cursor: pointer;

	div {
		display: flex;
		align-items: center;
		font-size: 10px;
	}
}

.table {
	margin-top: layout.$spacing-04;
}

.image {
	height: auto;
}
